## Operations for Strings

It is important to know that operation effect different data types in different ways. While it is possible to subtract two integer, the same doesn't apply to strings.

In [1]:
8 - 4

4

In [2]:
'8' - '4'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

The last cell raises a `TypeError` which indicates that Python doesn't know how to handle this situation. This makes sense if we replace the numbers with names. What would you expect the result of the operation below would be?

In [ ]:
'An' - 'Bert'

Similar to numbers, strings can also be added together. What do you think the operation below will produce? (pause a moment before running the code.)

In [ ]:
first_name = "Kaspar"
last_name = "Beelen"
print(first_name+last_name)

This the last operation is called string **concatination**. We added one string to another using the `+` operator.

In [ ]:
book = "The Lord of the Flies"
print(first_name + " likes " + book + "?")

In [ ]:
#### --Exercise--
Declare two variables `first_name` and `last_name`. Print them neatly using concatenation (with a space in between).

In [ ]:
# Insert code here

Next to addition, strings allow multiplication with an integer. This simple repeats the sting.

In [4]:
'hello'*5

'hellohellohellohellohello'

In [ ]:
But you can not use a float of course, that wouldn't make much sense, right?

In [5]:
'hello'*5.0

TypeError: can't multiply sequence by non-int of type 'float'

In [ ]:
'hello'*5.5

You could, however, cast to `float` to an `int` to avoid the above `TypeError`.

In [7]:
'hello'*int(5.5)

'hellohellohellohellohello'

## Fin.